@import "../../styles/utils/_variables.scss";

$button-link-size: 32px;

.pagination__link-container {
  width: $button-link-size;

  &--mr {
    margin-right: 16px;
  }

  &--ml {
    margin-left: 16px;
  }
}

@mixin square-button-link-with-icon() {
  width: 100%;
  padding-top: 100%;
}

.link-icon {
  width: 100%;
  padding-top: 100%;
  display: block;

  border: 1px solid $elements-color;
  background-repeat: no-repeat;
  background-position: center;

  transition: border 0.3s;

  &--arrow-right {
    background-image: url("../../assets/icons/arrow-right-default.svg");

    &:hover {
      border-color: $primary-color;
    }
  }

  &--arrow-right-disabled {
    background-image: url("../../assets/icons/arrow-right-disable.svg");
  }

  &--arrow-left {
    background-image: url("../../assets/icons/arrow-right-default.svg");
    transform: rotate(180deg);

    &:hover {
      border-color: $primary-color;
    }
  }

  &--arrow-left-disabled {
    background-image: url("../../assets/icons/arrow-right-disable.svg");
    transform: rotate(180deg);
  }
}

.link-text {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid $elements-color;

  font-weight: 500;
  font-size: 14px;

  transition: border 0.3s;

  &:hover {
    border-color: $primary-color;
  }

  &--selected {
    border-color: $primary-color;
    background-color: $primary-color;
    color: $white-color;
  }
}

.pagination {
  display: flex;

  &__numbers {
    display: flex;
    gap: 8px;
  }

  &--mr {
    margin-right: 16px;
  }

  &--right {
    margin-left: 16px;
  }
}

.disabled {
  pointer-events: none;
}

a {
  color: inherit;
  text-decoration: none;
}
