@import "../../styles/utils/placeholders";
@import "../../styles/utils/variables";
@import "../../styles/utils/mixins";

.cart {
  &__content {
    padding: 24px 0;
  }

  &__button {
    @extend %small-text;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;

    color: $gray-secondary;
    transition: color 0.3s;

    @include onTablet {
      margin-bottom: 16px;
    }

    &:hover {
      color: $gray-primary;
    }
  }

  &__title {
    @extend %h1;
  }
}
