@import "../../styles/utils/placeholders";
@import "../../styles/utils/variables";

.error {
  @extend %h2;
  margin: 0 auto;
  color: $gray-secondary;
  text-align: center;
}

.New-models {
  &__heading {
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__title {
    @extend %h2;
    margin-bottom: 24px;
    color: $gray-primary;
  }

  &__slider-buttons {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }

  &__slider {
    min-width: 1200px;
    margin-bottom: 56px;

    @include onTablet {
      margin-bottom: 64px;
    }

    @include onDesktop {
      margin-bottom: 80px;
    }
  }

  &__loader {
    margin: 0;
  }
}
