@import "../../styles/utils/mixins";
@import "../../styles/utils/variables";

.Container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin-inline: auto;
  padding-inline: $container-padding-mobile;
  margin-bottom: 64px;
  overflow: hidden;

  @include onTablet {
    padding-inline: $container-padding-tablet;
  }

  @include onDesktop {
    margin-bottom: 80px;
    padding-inline: $container-padding-desktop;
  }
}
