@import "placeholders";

* {
  box-sizing: border-box;
}

html {
  @extend %body-text;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

main {
  flex: 1 0 0; //! stretch to fill the remaining space
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
