$gray-primary: #313237;
$gray-secondary: #89939a;
$gray-icons-placeholders: #b4bdc3;
$gray-elements: #e2e6e9;
$gray-background: #fafbfc;
$white-color: #fff;
$green-color: #27ae60;
$red-color: #eb5757;
$default-transition: 0.3s;
