$gray-primary: #313237;
$gray-secondary: #89939a;
$gray-icons-placeholders: #b4bdc3;
$gray-elements: #e2e6e9;
$gray-background: #fafbfc;
$white-color: #fff;
$green-color: #27ae60;
$yellow-color: #f2c94c;
$red-color: #eb5757;
$default-transition: 0.3s;
$header-icon-size: 18px;
$header-height-mobile: 48px;
$header-height-desktop: 64px;
$z-index-header: 1;
$z-index-burger-menu: 1;
$category-phones-bg: #6d6474;
$category-accessories-bg: #973d5f;
