@import "../../styles/utils/mixins";
@import "../../styles/utils/variables";

.Header {
  height: $mobileHeaderHeight;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white-color;
  border-block: 1px solid $gray-icons-placeholders;

  @include onDesktop {
    height: $headerHeight;
  }

  &__logo {
    padding-inline: 16px;

    @include onDesktop {
      padding-inline: 24px;
    }
  }

  &__branding {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__nav {
    display: none;

    @include onTablet {
      display: block;
      height: 100%;
    }
  }

  &__menu {
    width: 48px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -1px 0 0 $gray-icons-placeholders;

    @include onTablet {
      display: none;
    }
  }

  &__toggler {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white-color;
    border: none;
    cursor: pointer;
  }

  &__menu-icon {
    width: 16px;
    height: 16px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image $default-transition ease-in-out;

    &--closed {
      background-image: url("/src/assets/icons/Menu.svg");
    }

    &--opened {
      background-image: url("/src/assets/icons/Close.svg");
    }
  }

  &__icons {
    display: none;

    @include onTablet {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}
