@import "../../styles/utils/fonts";
@import "../../styles/utils/normalize";
@import "../../styles/utils/mixins";
@import "../../styles/utils/keyframes";

.error-page {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;

  .container {
    max-width: 600px;
    text-align: center;
    font-family: "Mont-Bold", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .error-page__header {
      margin: 10px 0;
      display: block;
      text-align: center;
      font-size: 100px;
      position: relative;

      @include onTablet {
        font-size: 200px;
      }

      @include onDesktop {
        font-size: 300px;
      }

      &:after {
        content: "404";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: -webkit-repeating-linear-gradient(
          -45deg,
          #71b7e6,
          #69a6ce,
          #b98acc,
          #ee8176,
          #b98acc,
          #69a6ce,
          #9b59b6
        );
        background-size: 400%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.25);
        animation: animateHeader 10s ease-in-out infinite;
      }
    }

    .error-page__subtitle {
      position: relative;
      margin-bottom: 15px;
      text-transform: uppercase;
      color: #000;
      font-size: 25px;
      max-width: 600px;

      @include onTablet {
        font-size: 30px;
      }

      @include onDesktop {
        font-size: 35px;
      }

      &:after {
        content: "Oops! Page not found";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        -webkit-text-fill-color: transparent;
        text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.25);
      }
    }

    .error-page__description {
      font-family: "Mont-SemiBold", sans-serif;
      font-size: 15px;
      color: #0d0d0d;

      @include onTablet {
        font-size: 20px;
      }

      @include onDesktop {
        font-size: 22px;
      }
    }

    .error-page__button {
      margin: 25px 0;
      display: inline-flex;
      font-family: "Mont-Regular", sans-serif;

      .error-page__link {
        display: inline-block;
        margin: 0 10px;
        text-decoration: none;
        background-color: #313237;
        color: #fff;
        font-size: 14px;
        padding: 10px 25px;
        transition: box-shadow 0.3s ease-in-out;

        &:hover {
          box-shadow: 0 3px 13px 0 rgba(23, 32, 49, 0.4);
        }

        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}
